* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body  {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    background-color: #6c584c;
    grid-column: 2 / 3;
}

.sidebar {
    background-color: #a98467;
    grid-row: 1 / 3;
}

.dashboard {
    background-color: #dde5b6;
}