* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:root {
    --sidebar-colour: #6c584c;
    --header-colour: #a98467;
    --dashboard-colour: #dde5b6;
}

body  {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    background-color: var(--header-colour);
    grid-column: 2 / 3;
}

.sidebar {
    background-color: var(--sidebar-colour);
    grid-row: 1 / 3;
}

.dashboard {
    background-color: var(--dashboard-colour);
}